[Unit]
Description=Remove unused dangling docker images every day                                               

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
